@import url('./font.css');
@import url('./reset.css');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
h3{
     font-size: 18px;
  margin-bottom: 15px;
}

ul{
      list-style: none;
}
li{
     margin-bottom: 10px;
     color: grey;
}

.footer {
    width: 100%;
    background: #f6f6f8;
    padding: 60px 0 30px; 
}

.container {
     max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;                   
    justify-content: space-between;  
    gap: 20px;
       
}

.footer_contacts,
.footer_links,
.footer_project {
    flex: 1;  
}
